// Colors
$white:      hsl(220, 10%, 91%);
$black:      hsl(220, 13%, 18%);
$light-gray: hsl(220, 14%, 71%);
$dark-gray:  hsl(220, 10%, 40%);
$cyan:       hsl(187, 47%, 55%);
$blue:       hsl(207, 82%, 66%);
$purple:     hsl(286, 60%, 67%);
$green:      hsl(095, 38%, 62%);
$red:        hsl(355, 65%, 65%);
$orange:     hsl(029, 54%, 61%);

$base-font-color: $black;
$base-background-color: $white;

// Measurements
$base-font-size: 16px;
